
@use "../styles/colors.scss" as *;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  padding: 0.8rem 2rem;
  color: $primary-dark;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;

  &__logo {
    font-size: 1.7rem;
    font-weight: bold;
    color: $primary;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    li {
      a {
        color: $primary-dark;
        text-decoration: none;
        font-weight: 500;
        padding: 0.3rem 1rem;
        border-radius: 6px;
        transition: background 0.2s, color 0.2s;
        &:hover {
          background: $primary-light;
          color: $primary;
        }
      }
    }
  }

  &__toggle {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    cursor: pointer;
    li {
      a {
        color: $white;
        background: $primary;
        padding: 0.3rem 1.2rem;
        border-radius: 6px;
        font-weight: 500;
        transition: background 0.2s, color 0.2s;
        &:hover {
          background: $button-hover;
        }
      }
    }
    span {
      height: 3px;
      width: 25px;
      background: $primary;
      margin: 4px 0;
      border-radius: 2px;
    }
  }
}

// Responsive for mobile
@media (max-width: 768px) {
  .navbar__links {
    display: none; // hide links on mobile
    flex-direction: column;
    gap: 1rem;
    background-color: #1e1e1e;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    padding: 1rem 2rem;
  }

  .navbar__toggle {
    display: flex;
  }
}
